*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(26, 25, 25);
}
.list img{
   width: 100%;
   margin-bottom: 0.75rem;
}


/* .list{
    column-count: 3;
    padding: 1rem;
}
@media  screen and (max-width:767px) {
    .list{
        column-count: 2;
    }
} */



/* one line of code */

.list{
    columns: 300px;
    padding: 1rem;
}